@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));     /* sẽ dùng ở buổi 3 */
@theme	{
        /* màu thương hiệu chính -xanh dương*/
		--color-brand-200:	#bee1ff;
		--color-brand-300:	#91cfff;
		--color-brand-500:	#3894f9;
        --color-brand-600:  #2275ee;
		--color-brand-700:	#1a5fdb;
		--color-brand-900:	#1c448c;

        /* màu nhấn */
        --color-accent-500: #6a67ce;

        /* chữ chính */
		--color-ink: #000000;

        /* chữ phụ */
        --color-muted: #6b7280;

        /* nền trang */
        --color-surface: #eeeeee;

        /* viền */
        --color-line: #d6dde3;

        /* phông tiêu đề */
		--font-display:	"Nunito";
        /* phông nội dung */
		--font-body: "Lato";

        /* bo góc thẻ */
		--radius-card: 8px;
}

.btn	{	@apply	inline-flex	items-center	justify-center	gap-2	rounded-pill
				px-5	py-2.5	text-sm	font-semibold transition-colors;	}
.btn-primary	{	@apply	bg-brand-600	text-white	hover:bg-brand-700;	}
/* dành cho lớp cơ sở của html */
@layer base {
    html {
        scroll-behavior:smooth;
        scroll-padding-top: 5rem;
    }
    body {
        @apply bg-surface text-ink font-body antialiased;
    }
    h1, h2 ,h3 {
        @apply font-display tracking-tight;
    }
}

@layer components{
    .section{
        @apply mx-auto w-full max-w-6xl px-5 py-20 lg:py-28;
    }
    .eyebrow{
        @apply font-display text-xs font-semibold uppercase tracking-[0.18em] text-brand-600;
    }
}